@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=PT+Serif:wght@700&family=Roboto+Slab&family=Titillium+Web&display=swap');

/* https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */


/* General settings and creating variables */
 


*{
    box-sizing: border-box;
}

*::selection{
    background-color: var(--clr-btn);
    color: white;
}

:root{
    --clr-bg: #FFE1A8;
    --clr-base: #fbecd0;
    --clr-text: hsl(8, 70%, 8%);
    --clr-op: #C9CBA3;
    --clr-op-hover: hsl(39, 84%, 94%);
    --clr-btn: hsl(8, 70%, 23%);
    --clr-progress:#723D46;
}
/* :root{
    --clr-bg: #D8F3DC;
    --clr-text: black;
    --clr-op: #95D5B2;
    --clr-btn: #1B4332;
    --clr-progress:#52B788;
} */

body{
    margin: 0;
    padding:0;
    background-color: var(--clr-bg);
    min-width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h3{
    color: var(--clr-text);
}


.header{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 8px;
    font-size: 1.5rem;
    
}

.base{
    display: block;
    position:  relative;
    background-color: var(--clr-base);
    box-shadow: 5px 3px 20px rgb(0 0 0/0.2);
    border-radius: 1%;
    overflow: hidden;
    transition: all 200ms ease-in;
    pointer-events: none;
    /* display: none; */
    filter: blur(0px);
    font-size: 1.3rem;
    min-height: 25em;
    min-width: 40em;
}


.blur{
    filter: blur(8px);
    pointer-events: none;
}

.carousel-progress {
    background: rgb(235, 235, 235);
    
        
  }
  
.carousel-progress-bar {
    /* margin-top: 15px; */
    margin-bottom: 12px;
    background: var(--clr-progress);
    height: 10px;
    transition: all 250ms ease;
    width: 0px;
}


.AllTemplates{
    font-size: 1.3rem;
    position: relative;
    height: 20em;
    display: flex;
    flex-direction: row;
    transition: transform 230ms ease-in;

}

form{
    font-size: 1.3rem;
    position: relative;
    height: 20em;
    display: flex;
    flex-direction: row;
    transition: transform 250ms ease-in;
}

.Template{
    position: absolute;
    margin-top:40px;
    font-size: 1.3rem;
    min-height: 25em;
    min-width: 39em;
    pointer-events: none;
    /* left:0; */
    /* background-color: rgb(255, 197, 197); */
}

.question{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-left:20px;
}

.options{
    font-family: 'Lato', sans-serif;
    width: inherit;
    height: inherit;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    pointer-events: all;
}

.option{
    margin-inline: 10px;
    margin-block: 20px;
    
    padding-inline: 0.5em;
   
}



li{
    color: var(--clr-text);
    list-style: none;
    display: flex;
    
}

li input[type="radio"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    transition: 200ms ;
}

.option-text{
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.option-text::before{
    content: "";
    width: 1em;
    height: 1em;
    border: 0.05em solid black;
    border-radius: 0.2em ;
    margin-right: 0.5em;
    transition: color 300ms;
}

.option-text:hover::before,
li input[type="radio"]:hover + label:before{
    background-color: var(--clr-op-hover);
}

li input[type="radio"]:checked + label:before{
    content: '\002714';
    background-color: var(--clr-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
}




.startDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
}

.instructions{
    position: absolute;
    top: 0;
    font-size: 1.3rem;
    font-family: "lato",sans-serif;
    padding: 1em;
    margin: 1em 1em;
    justify-self: flex-start;
    align-self: flex-start;

}

#start{
    pointer-events: all;
    margin: 1em 0.5em 1.5em 0.5em;
    padding: 0.5em ;
    border: none;
    font-size: 2rem;
    font-family: 'Lato',sans-serif;
    letter-spacing: 0.1em;
    border-radius: 10px;
    background-color: var(--clr-btn);
    color: white;
    transition: 250ms ease-in;
    position: absolute;
    bottom: 0;
}
#start:hover{
    background-color: var(--clr-base);
    color: var(--clr-btn);
    border: 1px solid var(--clr-btn);
    pointer-events:all;
    cursor: pointer;
    border-radius: 12px;
}









.option_footer{
    font-size: 1.3rem;
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 25em;
    position: absolute;
    pointer-events: none;
}

.btn{
    padding: 15px;
    margin-inline: 22px;
    margin-bottom: 70px;
    padding-block: 7px;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: var(--clr-base);
    color: var(--clr-btn);
    border: 2px solid var(--clr-btn);
    cursor: pointer;
    transition: 300ms;
    pointer-events: all;
    position: absolute;
    align-self: flex-end;
}

.btn:hover{
    background-color: var(--clr-btn);
    color: white;
    pointer-events:all;
    cursor: pointer;

}


.next{
    
    right: 0;
    /* padding-block: 7px; */

}

.previous{
    /* position: absolute; */
    left: 0;
    transition: all 200ms ease-in;

}


.confirm_container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
}
.confirm{
    padding: 15px;
    margin-inline: 22px;
    margin: 2em;
    padding-block: 10px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: var(--clr-base);
    color: var(--clr-btn);
    border: 2px solid var(--clr-btn);
    cursor: pointer;
    transition: 300ms;
    pointer-events: all;
    
}
.confirm:hover{
    background-color: var(--clr-btn);
    color: white;
    pointer-events:all;
    cursor: pointer;

}

.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Lato", sans-serif;
}

.SubmitPage{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin: 0;
    padding: 0;
    /* margin-left: 1em; */
}

.Submit{
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    border: none;
    padding: 0.2em;
    font-size: 2rem;
    font-family: 'Lato',sans-serif;
    letter-spacing: 0.1em;
    bottom: 0;
    background-color: var(--clr-btn);
    color: white;
    transition: 300ms linear;
    width: 106%;
    border: 1px solid var(--clr-btn);
    /* margin-right: %; */
    margin-bottom: 70px;

}

[visible="false"]{
    pointer-events: none;
    opacity: 0;
    position: absolute;
}

[visible="true"]{
    pointer-events: all;
    opacity: 1;
}

.Submit[visible="false"]{
    transform: translate(0,100%);
}

.Submit[visible="true"]{
    transform: translate(0,0);
}


.Submit:hover{
    background-color: var(--clr-base);
    color: var(--clr-btn);
    pointer-events:all;
    cursor: pointer;
}

 



.warning{
    transform: translate(0, 10%) scale(0.1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 8em;
    border-radius: 10px;
    outline: 2px solid var(--clr-progress) ;
    box-shadow: 5px 3px 20px rgb(0 0 0/0.2);
    font-size: 1.3rem;
    font-family: 'Lato';
    background-color: white;
    color: var(--clr-text);
    position: absolute;
    padding: 20px;
    transition: all 200ms ease-in;
}

.warning h4{
    /* padding-bottom: 20px; */
    margin-bottom: 4em;
    pointer-events: none;
}

.error{
    align-self: center;
    color: red;
    margin: 0;
    padding: 0;
}

.ok{
    font-size: 1.4rem;
    letter-spacing: 3px;
    bottom: 0;
    align-self: center;
    margin-bottom: 0;
    margin-block: 1em;
    z-index: 2;
}




.thank_you{
    transform: translate(0, 10%) scale(0.1);
    position: absolute;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-family: 'Lato',sans-serif;
    background-color: hsl(72, 54%, 80%);
    border-radius: 10px;
    width: 40rem;
    transition: all 400ms;
    box-shadow: 5px 3px 20px rgb(0 0 0/0.2);
    opacity: 0;
}




.thank_you h3{
    font-size: 2rem;
}

.margin_padding{
    margin-block: 1.5rem;
    margin-inline: 4rem;
    letter-spacing: 1px;
}

.thank_you p{
    font-size: 1.3rem;
}

.score{
    /* margin-inline: 6rem;
    margin-bottom: 4rem; */
}

.sc{
    color: var(--clr-text);
    font-size: 1.4rem;
    text-align: center;

    
}

.visible{
    transform:translate(0, 10%)  scale(1);
    opacity: 1;
}

.ScoreBefore{
    margin-inline: 6rem;
    margin-bottom: 4rem;
}

.restart{
    font-family: "Lato",sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--clr-btn);
    border: none;
    height: 50px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    transition: all 200ms ;
}

.restart:hover{
    background-color: var(--clr-bg);
    color: var(--clr-text);
    cursor: pointer;
    border: 2px solid var(--clr-btn);
}




/* Media Queries */
@media (max-width: 860px) {
    .base{
        font-size: 1rem;
    }
}
